<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>vueJS</title>
    <link rel="stylesheet" href="styles.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div id="app" class="row">
        <!-- <div class="col-md-4">
            <b>{{ message }}</b>
            <br><br>
            <i>{{ greet('Afternoon') }}</i>
            <br>
            <br>
            <a v-bind:href="link">Go to Google</a>
            <br>
            <br>
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </span>
            <br>
            <br>
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
            <br>
            <br>
            <p>{{ message }}</p>
            <button class="btn btn-default" v-on:click="reverseMessage">Reverse Message</button>
            <br>
            <span v-if="seen">Now you see me</span>
            <br>
            <p v-html="sampleTag"></p>
            <br>
            <input type="text" class="form-control" v-bind:value="name">
            <br>
            <p>Name : <b>{{ name }}</b></p>
            <p>Age : <b>{{ age }}</b></p>
            <p>Job : <b>{{ job }}</b></p>
            <br>
            <button class="btn btn-primary" v-on:click.once="add(1)">Add</button>
            <br>
            <br>
            <button class="btn btn-success" v-on:click="subtract(1)">Subtract</button>
            <br>
            <br>
            <button class="btn btn-primary" v-on:dblclick="add(10)">Add 10 years</button>
            <br>
            <br>
            <button class="btn btn-success" v-on:dblclick="subtract(10)">Subtract 10 years</button>
            <br>
            <br>
            <div id="canvas" v-on:mousemove="updateXY">
              {{x}} : {{y}}
            </div>
            <br>
            <button v-on:click="available = !available" class="btn btn-default">Toggle class</button>
            <br><br>
            <div v-bind:class="dynamicClass">
              <span class="spanClass">Dynamic class experimentation</span> 
            </div>
            <br>
            <button v-on:click="seen = !seen" class="btn btn-default">Display Error</button>
            <br><br>
            <p v-if="seen">This is a sample content displaying by if</p>
            <br><br>
            <sampletemplate>
              
            </sampletemplate>
        </div>
      </div> -->
    </div>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
